<mat-toolbar color="primary">
  <button mat-icon-button (click)="myDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <!--flex:pour rendre les elements a gauche-->
  <span style="flex: auto"></span>
  <button mat-button routerLink="/admin/home"> Home</button>
  <button mat-button routerLink="/admin/profile"> Profile</button>
  <!--*ngIf="authService.roles.includes('ADMIN')" : afficher le menu ssi c ets un admin-->
  <button mat-button *ngIf="authService.roles.includes('ADMIN')" [matMenuTriggerFor]="importMenu"
          >
    Import
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon> <!--mat icons : ajouter une icone ,iconPositionEnd pour l ajouter a la fin-->
  </button>
  <!--mat-menu:Ajouter un menu ds button import , lier pas id importMenu-->
  <mat-menu #importMenu>
    <!--mat menu item : pour rendre les btns comme des items horizontale-->
    <button mat-menu-item routerLink="/admin/load-students">Load Students</button>
    <button mat-menu-item routerLink="/admin/load-payments">Load Payments</button>
  </mat-menu>
  <!--Afficher le nom de user authentifie-->
  <button mat-button *ngIf="authService.isAuthenticated">
    {{authService.username}}
  </button>

  <button mat-raised-button color="accent" (click)="logout()" > Logout</button>
</mat-toolbar>
<!--mat drawer container: pour faire un side bar
opened:pour l ouvrir
start:gauche , end:droite
-->
<mat-drawer-container>
  <mat-drawer #myDrawer mode="side" opened="true" position="start">
    <mat-list>
          <mat-list-item>

            <button mat-button routerLink="/admin/dashboard">
              Dashboard
              <mat-icon iconPositionEnd>dashboard</mat-icon>
            </button>
          </mat-list-item>
          <mat-list-item>

            <button mat-button routerLink="/admin/students">
              Students
              <mat-icon iconPositionEnd>donut_large</mat-icon>
            </button>
          </mat-list-item>
          <mat-list-item>

            <button mat-button routerLink="/admin/payments">
              <mat-icon iconPositionEnd> autorenew</mat-icon>
              Payments
            </button>
          </mat-list-item>

    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
        <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

